body
{
	font-family: Verdana;
}
#ankieta
{
	width: 600px;
	background-color: #C3DBEA;
	border: 1px dotted #55BBFF;
	padding: 5px;
	margin: 0px auto;
}
div.row
{
	clear: both;
	padding-top: 10px;
}

div.row span.label
{
	float: left;
	width: 200px;
	text-align: right;
	padding-right: 5px;
}

div.row span.formw
{
	float: right;
	width: 400px;
	text-align: left;
}
select
{
	width: 200px;
}
input
{
	width: 200px;
}

.spacer
{
	clear: both;
}
.bold
{
	font-weight: 600;
}
.grupa
{
	border: thin dashed #000000;
	clear: both;
	float: left;
}
